.header{
    background-color: rgb(44, 35, 35);
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;
    
}

.anchors a{
    padding-left: 1rem;
}